body{
	margin: 0;
	padding: 0;
}

.navbar-brand img {
    margin: -8px;
    height: 65px;
    width: 65px;
}
.navbar-nav {
    position: fixed;
    left: 73%;
}
.navbar {
	font-family: 'Solway', serif;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transition: all 0.6s ease-out;
    background: white;
    scroll-behavior: smooth;
}
nav.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}
nav.navbar.transparent {
  	background-color:rgba(0,0,0,0);
}

.nav-item {
	font-size: 25px;
	padding-right: 10px;
	color: white;
}

.navbar-banner{
    color: white;
    font-size: 35px;
    font-family: 'Hanalei Fill', cursive;
    letter-spacing: 5px;
}
a.navbar-banner:hover {
    text-decoration: none;
	color: white;
}

a.nav-link:hover {
   -ms-transform: scale(1.16); 
   -webkit-transform: scale(1.16); 
   transform: scale(1.16);
   transition: 0.7s;
   color: white;
}

.navbar {
	background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}

#img{
	width: 200px;
	height: 200px;
}

.caption{
	position: absolute;
	top: 38%;
	width: 100%;
	color: white;
	font-family: 'Solway', serif;
}

.caption h1{
	font-size: 5rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem; 
}

.caption h3{
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
}

#section1{
	padding-top: 70px;
	padding-bottom: 20px;
	font-family: 'Solway', serif;
	background-color: white;
}

#section1 h1{
	color: #00a8ff;
	border-bottom: 3px solid #2f3640;
  	display: inline-block;
  	line-height: 1.6;
}

#section1 p{
	padding-top: 20px;
	font-size: 28px;
}

#section2{
	padding-top: 30px;
	padding-bottom: 70px;
	font-family: 'Solway', serif;
}

#section2 h1{
	color: #00a8ff;
	border-bottom: 3px solid #2f3640;
  	display: inline-block;
  	line-height: 1.6;
}

#section3{
	padding-top: 70px;
	padding-bottom: 70px;
	font-family: 'Solway', serif;
	background-color: #2f3640;
	color: white;
}

#section3 h1{
	font-size: 50px;
	color: #00a8ff;

}

#section4{
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Solway', serif;
}

#section4 h1{
	color: #00a8ff;
	border-bottom: 3px solid #2f3640;
  	display: inline-block;
  	line-height: 1.6;
}

@media (max-width: 768px){
	.caption h1{
		font-size: 3rem;
		letter-spacing: .15rem;
		padding-bottom: .5rem;
	}

	.caption h3{
		font-size: 1.7rem;
		padding-bottom: 1.2rem;
	}
}

.gallery{
	margin: 10px 50px;
}

.gallery img{
	transition: 1s;
	padding: 15px;
	height: 300px;
	width: 400px;
	border-radius: 20px;
	
}

.gallery img:hover{
	transform: scale(1.1);
}

.contact-form{
  width: 90%;
  padding-left: 200px;
  font-family: "Montserrat",sans-serif;
}

form{
	border: 2px solid #00a8ff;
	border-radius: 10px;
	padding: 20px;
}

label{
	font-size: 35px;
	color: #00a8ff;
}

#frst{
	background-color: #2f3640;
	font-size: 20px;
	border-color: #00a8ff;
	color: white;
}

#scnd{
	background-color: #2f3640;
	font-size: 20px;
	border-color: #00a8ff;
	color: white;
}

#sbj{
	background-color: #2f3640;
	font-size: 20px;
	border-color: #00a8ff;
	color: white;
}

#comment{
	background-color: #2f3640;
	font-size: 20px;
	border-color: #00a8ff;
	color: white;
}

#logo{
	height: 500px;
	width: 500px;
}

#lab{
	font-size: 30px;
}

input[type=submit] {
  width: 100%;
  background-color: #00a8ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
	transition: 0.8s;
  background-color: #2980b9;
}

